.Footer {
    background: #031B34;
    padding-top: 5rem;

    &__upperSection {

        h1 {
            padding: 0px 40px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 62px;
            line-height: 75px;
            text-align: center;
            letter-spacing: -0.04em;

            background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;


            @media screen and (max-width : 750px) {
                font-size: 40px;
                line-height: 60px;
            }

            @media screen and (max-width : 550px) {
                font-size: 33px;
                line-height: 50px;
            }
        }

        button {
            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            display: flex;
            margin: 0 auto;
            background-color: transparent;
            padding: 15px 25px;
            border: 1px solid #FFFFFF;
            margin-top: 50px;


            @media screen and (max-width : 550px) {
                font-size: 15px;
                padding: 13px 18px;
            }
        }
    }

    &__bottomSection {
        padding: 180px 50px 60px;
        font-family: 'Gilroy-Medium';
        font-size: 12px;


        &__firstOptions,
        &__secondOptions,
        &__thirdOptions {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        &__logoSection {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            img {
                width: 120px;
            }
        }
    }

    &__bottomSection,
    &__firstOptions,
    &__secondOptions,
    &__thirdOptions {
        display: flex;
        font-size: 8px;
        justify-content: space-around;
        color: #FFFFFF;
        flex-wrap: wrap;
        column-gap: 50px;

        @media screen and (max-width : 1150px) {
            justify-content: flex-start;
        }

        @media screen and (max-width : 650px) {
            row-gap: 60px;
        }
    }

    &__copyright {
        font-family: 'Gilroy-Medium';
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-align: center;
        padding: 20px 0px;

    }
}